.title {
  font-family: 'Roboto';
  font-size: 28px;
}

.views-published-buttons-container {
  display: flex;
  justify-content: space-between;
}

.views-date {
  display: flex;
}

.line {
  border: 1px solid #e2e8f0;
}

.channel-details {
  display: flex;
}

.channel-img {
  width: 60px;
  height: 50px;
  margin: 5px;
}

.btn {
  cursor: pointer;
  background: transparent;
  margin: 5px;
  color: #64748b;
}

.btn-bg-color {
  background-color: #3b82f6;
  color: #2563eb;
}
