.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-btn {
  color: #ffffff;
  background-color: #3b82f6;
  height: 40px;
  width: 80px;
  padding: 5px;
  margin-top: 5px;
}
